@tailwind base;
@tailwind components;
@tailwind utilities;

.chat {
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

@media (max-width: 768px) {
  .text-room {
    display: none;
  }
}
.img {
  animation: fade 2s linear forwards;
  animation-timeline: view();
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.sender {
  position: relative;
  right: 0px;
  border: 2px solid white;
  width: fit-content;
  padding: 2px 5px 0px 5px;
  border-radius: 10px 10px 0 10px;
  color: whitesmoke;
  margin: 4px;
  align-self: flex-end;
  background: rgb(68, 142, 86);
}
.reciver {
  position: relative;
  left: 0;
  padding: 2px 5px 0px 5px;
  border: 2px solid white;
  border-radius: 10px 10px 10px 0;
  width: fit-content;
  color: white;
  margin: 4px;
  background-color: rgb(50, 50, 255);
}
.mHolder::-webkit-scrollbar {
  display: none;
}
